/* John Spruijt ©2020*/
* {
  margin: 0;
  padding: 0;
  cursor: default;
  box-sizing: border-box;
}
body {
  background-color: rgb(222, 222, 222);
  font-family: 'Roboto', sans-serif;
  height: 100%;

}
.page {
  padding: 0;
  margin: 0 auto;
  width: 75rem;
  background-color: white;
}
main {
  padding: 2rem;
  box-sizing: border-box;
}
#header {
  box-sizing: border-box;
  padding-top: 2rem;
  height: 30rem;
  width: 100%;
  background-image: url("../images/header.png");
  margin: 0;
}
nav {
  height: 3.5rem;
  background-color: #222931;
}
#navLogo {
  line-height: 3.5rem;
  margin-left: 1rem;
  float: left;
  color: white;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + #whitespaceNav {
  height: 3.5rem;
  width: 100%;
}
#navCenter {
  text-align: center;
  background-color: #222931;
  margin: 0 auto;
  width: 75rem;
}
.button {
  color:rgb(207, 207, 207);
  background-color: #181d22;
  width: 9rem;
  height: 2.5rem;
  border: 0.1rem solid rgb(207, 207, 207);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 2.5rem;
  margin: 0.5rem 2rem;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(207, 207, 207);
  color: #181d22;
}
#title {
  text-align: center;
  color: white;
  font-size: 3rem;
}
.text {
  font-size: 1.3rem;
}
.subTitle {
  font-size: 2.5rem;
}
#project1, #project3 {
  margin-right: 1rem;
  float: left;
  max-width: 12rem;
}
#project2 {
  margin-left: 1rem;
  float: right;
  max-width: 12rem;
}
#project1Div, #project2Div, #project3Div {

  margin-bottom: 6rem;
}
#projects h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
#projects {
  width: 73rem;
  margin: 0 auto;
  margin-top: 5rem;
}
#projects p {
  font-size: 1.1rem;
}
#whoAmI, #projects {
  border-bottom: 0.1rem grey solid;
  padding-bottom: 3rem;
}
#whoAmI {
  margin: 0 auto;
  width: 70rem;
  box-sizing: border-box;
  padding: 1rem;
}
#education {
  font-size: 2rem;
}