* {
  margin: 0;
  padding: 0;
  cursor: default;
  box-sizing: border-box;
}
body {
  background-color: rgb(222, 222, 222);
  font-family: 'Roboto', sans-serif;
  height: 100%;

}
.page {
  margin: 0 auto;
  width: 75rem;
  background-color: white;
}
main {
  padding: 2rem;
  box-sizing: border-box;
}
#header {
  box-sizing: border-box;
  padding-top: 2rem;
  height: 30rem;
  width: 100%;
  background-image: url("../images/header.png");
  margin: 0;
}
nav {
  height: 3.5rem;
  background-color: #222931;
}
#navLogo {
  float: left;
  display: none;
  color: white;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + #whitespaceNav {
  height: 3.5rem;
  width: 100%;
}
#navCenter {
  text-align: center;
  background-color: #222931;
  margin: 0 auto;
  width: 75rem;
}
.button {
  color:rgb(207, 207, 207);
  background-color: #181d22;
  padding: 9px;
  width: 120px;
  border: 1px solid rgb(207, 207, 207);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0.5rem 2rem;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(207, 207, 207);
  color: #181d22;
}
#title {
  text-align: center;
  color: white;
  font-size: 40px;
}
.subTitle {
  font-size: 30px;
}
#project1, #project3 {
  float: left;
  max-width: 15rem;
}
#project2 {
  float: right;
  max-width: 15rem;
}
#project1Div, #project2Div, #project3Div {

  margin-bottom: 6rem;
}
#projects h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
#projects {
  width: 73rem;
  margin: 0 auto;
  margin-top: 5rem;
}